includes:
    - phpstan-baseline.neon

parameters:
    level: max
    tmpDir: var
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
#    symfony:
#        containerXmlPath: TestApplication/var/cache/dev/App_KernelDevDebugContainer.xml
#    scanDirectories:
#        - TestApplication/var/cache/dev/Symfony/Config
